<nav class="navbar navbar-expand-lg bg-dark navbar-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto ">

        <li class="nav-item">
          <a class="nav-link"  routerLink='/home' routerLinkActive="router-link-active bg-info round" >home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  routerLink='/about' routerLinkActive="router-link-active bg-info rounded" >about</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  routerLink='/contact' routerLinkActive="router-link-active bg-info rounded" >contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  routerLink='/product' routerLinkActive="router-link-active bg-info rounded" >products</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
