
<section class="p-3 rounded bg-secondary">

  <h2>hello contact</h2>
  <div class="row g-4">
   @for (product of porductList; track $index) {
    <div class="col-md-3">
      <div class="card" [class.bg-success]="product.onSale">
        <img class="card-img-top" height="250px" [src]="product.imageCover" alt="Title">
          <div class="card-body">
            <h4 class="card-title">Title:{{product.title.split(" ",2).join(" ")}}</h4>
            <p class="card-text">description: {{product.description.split(" ",4).join(" ")}}</p>
            <p class="card-text">onSaled: {{product.onSale}}</p>
  <button
  (click)="productDetails=product" 
   class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> Show Details </button>


          </div>
      </div>


    </div>
   }

   @empty {
    <h2>No Data found</h2>
   }
  </div>
  <p>Lorem ipsum dolor sit amet.</p>
  <button class="btn btn-primary" >Click Me </button>
</section>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Product Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img class="w-100" [src]="porductDetails.imageCover" alt="">
        <h2>Title: {{porductDetails.title}}</h2>
        <p>Description: {{porductDetails.description}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
